<div class="panel-group" id="accordion" role="tablist">
	<div class="panel panel-default">
		<div id="<%= code %>-heading" class="panel-heading" role="tab">
			<h4 class="panel-title">
				<a class="collapsed" href="#<%= code %>-details" role="button" data-toggle="collapse" data-parent="#accordion" aria-expended="false" aria-controls="<%= code %>-details"><%= text %> Audit</a>
			</h4>
		</div>
		<div id="<%= code %>-details" class="collapse panel-collapse" aria-labelledby="<%= code %>-heading">
			<div class="panel-body">
				<p><%= text %> Audit</p>
			</div>
		</div>
	</div>
</div>

