<%= setup_context :title => I18n.t("plugins.audits.title") %>

<div class="result">
	<div class="col-md-12">
		<h2><%= I18n.t("plugins.audits.title") %></h2>

		<%= render_aspace_partial :partial => "shared/flash_messages" %>

		<%= render_aspace_partial :partial => "audit_select" %>

	</div>
</div>

<link href="<%= "#{AppConfig[:frontend_prefix]}assets/styles/audits.css" %>" media="all" rel="stylesheet" type="text/css"></link>
